/Practica1/nbproject/private/
/Practica1/build/
/Ejercicios_discoduroderoer/nbproject/private/
/discoduroderoEjercicios/nbproject/private/
/discoduroderoEjercicios/build/
/Pratica2/nbproject/private/
/Pratica2/build/
*.xml
*.mf
*.DS_Store
/GestionarPersonas/nbproject/private/
/GestionarPersonas/build/
/Practica3/nbproject/private/
/Practica3/build/
/Practica2/build/
/EntornoDesarrollo_multiplo/nbproject/private/
/EntornoDesarrollo_multiplo/build/
/Practica4/nbproject/private/
/ArrayDebugger/nbproject/private/
/ArrayDebugger/build/
/ConditionalBreakpoint/nbproject/private/
/ConditionalBreakpoint/build/
/Practica4/build/
/Hitcount/nbproject/private/
/Hitcount/build/
/Main/nbproject/private/
/Main/build/
/ProyectoHerencia/nbproject/private/
/ProyectoHerencia/build/
/Practica5/nbproject/private/
/Practica5/build/
/pruebaAbstraccion/nbproject/private/
/Practica6/nbproject/private/
/Practica6/build/
/SimulacroJava/nbproject/private/
/SimulacroJava/build/
/ExamenAPI/nbproject/private/
/ExamenAPI/build/
/test/nbproject/private/
/interfacesSwing/nbproject/private/
/interfacesSwing/build/
/LaEscoba/nbproject/private/
/LaEscoba/build/